html {
  box-sizing: border-box;

}
html, body {
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 2em;
  transition: background-color ease-in-out 0.3s;
}

.hit {
  background-color: deeppink;
}

#image {
  padding-top: 0;
  padding-left: 0;
  /* border: 2px solid black; */
  /* width: 10px; */
  transition: all ease-in-out 0.5s;
}

/* #balloon {
  width: 80px;
} */

#container {
  height: 500px;
  width: 320px;
}

.target {
  padding: 1em;
  border: 1px solid dimgray;
  display: inline-block;
}
